gensim==3.8.3
implicit==0.4.4
lightfm==1.16
matplotlib==3.2.2
nltk==3.5
numpy==1.18.5
pandas==1.0.5
scikit-learn==0.23.1
scikit-surprise==1.1.1
scipy==1.5.0
seaborn==0.10.1
tensorflow==2.3.1
# tensorflow==2.7.0
tensorflow_recommenders==0.6.0
torch==1.10.0